name: Lint Ansible

on:
  workflow_call:

jobs:
  lint-ansible:
    runs-on: self-hosted
    steps:
      - name: Check out Source Code
        uses: actions/checkout@v3

      - name: Lint Ansible
        uses: ansible/ansible-lint-action@c37fb7b4bda2c8cb18f4942716bae9f11b0dc9bc
        with:
          args: |
            -c .ansible-lint.yml
          # Temporary workaround for https://github.com/ansible/ansible-lint-action/issues/59
          override-deps: |
            rich>=9.5.1,<11.0.0
