name: Go

on:
  workflow_call:

jobs:
  test:
    runs-on: self-hosted
    steps:
      - name: Set up Go
        uses: actions/setup-go@v3
        with:
          go-version: 1.18.0

      - name: Check out Source Code
        uses: actions/checkout@v3

      - name: Get dependencies
        run: go mod download

      - name: Format
        run: go fmt .

      - name: Lint
        run: |
          go get -u golang.org/x/lint/golint
          golint -set_exit_status ./...

      - name: Errcheck
        run: |
          go get -u github.com/kisielk/errcheck
          errcheck ./...
