name: Twistlock Scan

on:
  workflow_call:
    inputs:
      docker_image_name:
        required: true
        type: string
      TwistlockURL:
        required: true
        type: string
    secrets:
      TwistlockUsername:
        required: true
      TwistlockPassword:
        required: true

jobs: 
  twistlock:
    runs-on: self-hosted
    steps:
      - name: Check out Source Code
        uses: actions/checkout@v3

      - name: Download the Twistlock CLI
        run: |
          curl -k -u ${{ secrets.TwistlockUsername }}:${{ secrets.TwistlockPassword }} --output ./twistcli ${{ inputs.TwistlockURL }}/api/v1/util/twistcli
          sudo chmod a+x ./twistcli

      - name: Build Docker Image
        run: docker build . --file Dockerfile --tag ${{ inputs.docker_image_name }}:${{ github.sha }}

      - name: Scan the Image
        run: set -o pipefail && ./twistcli images scan --details -address ${{ secrets.TwistlockURL }} -u ${{ secrets.TwistlockUsername }} -p ${{ secrets.TwistlockPassword }} ${{ inputs.docker_image_name }}:${{ github.sha }} | grep -v CIS | grep "critical\|high\|important\|medium\|moderate\|low" | awk -F'|' '{ print $5 "\t" $7 }' | sort -u -k1,1
