name: Validate Codeowners

on:
  workflow_call:
    secrets:
      GithubAccessToken:
        required: true

jobs:
  validate-codeowners:
    runs-on: self-hosted
    steps:
      - name: Check out Source Code
        uses: actions/checkout@v3

      - name: "Full check of CODEOWNERS"
        uses: mszostok/codeowners-validator@v0.7.1
        with:
          checks: "duppatterns,owners,syntax"
          experimental_checks: "notowned"
          github_access_token: "${{ secrets.GithubAccessToken }}"
